<meta charset="UTF-8">
<!--依赖-->
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/libs/bootstrap.min.css"%}">
<style type="text/css">

</style>
<script type="text/javascript" src="{% static "js/libs/jquery-3.1.0.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/libs/bootstrap.min.js"%}"></script>
<style type="text/css">
    /*footer叠加层*/
        .footer-div {
            background-color: rgb(42,42,42);
            border-top: solid 2px #8bcaed;
        }


        /*版权标识*/
        .copyright {
            color: #FFFFFF;
            text-align: center;
            font-size: 1em;
            background-color: rgb(52, 62, 73);
            margin-top: 1em;
        }

        .copyright a {
            color: #FFFFFF;
        }
</style>

<!--顶部导航-->
<header>
    <nav class="navbar navbar-inverse" role="navigation" id="headerNav">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" id="Brand" name="top"><b>Linux学堂——爱运维|爱编程</b></a>
<!--
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
-->
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" id="home">主页</a></li>
                <li><a href="/other/about" id="about">Linux</a></li>
                <li><a href="/other/about" id="about">Python</a></li>
                <li><a href="/other/about" id="about">JavaScript</a></li>
                <li><a href="/other/about" id="about">jQuery</a></li>
                <li><a href="/other/about" id="about">HTML</a></li>
                <li><a href="/other/about" id="about">Git</a></li>
                <li><a href="/other/about" id="about">关于本站</a></li>
                <li><a href="/other/contact" id="contact">联系站长</a></li>
                <li id="loginLi"><a tabindex="-1" href="/other/contact">登录/注册</a></li>
                <!--li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="userName"> 游客 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="loginLi"><a tabindex="-1" href="javascript:void(0)">登录/注册</a></li>
                        <li class="divider" role="presentation"></li>
                        <li class="disabled" id="selfLi"><a tabindex="-1" id="self" href="javascript:void(0)">个人中心</a></li>
                        <li class="disabled" id="logoutLi"><a tabindex="-1" id="logout" href="javascript:void(0)">注销</a></li>
                    </ul>
                </li-->
                <form class="navbar-form navbar-right" role="search" >
                    <div class="form-group">
                        <div class="input-group" style="width:400px;">
                            <input type="text" class="form-control" placeholder="站内搜索">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search" id="searchSpan"></span>
                            </span>
                        </div>
                    </div>
                </form>
            </ul>
        </div>
    </nav>
</header>
<!--网站中间内容开始-->
<!--<h1>文章推荐</h1>-->
<!--<script src='http://runjs.cn/gist/am9uppay/all'></script>-->

<nav class="navbar-inverse">
 <div class="container-fluid">
        <div class="row">
            <div class="span2  col-xs-12 col-sm-3 col-md-2">
                <ul class="nav nav-pills nav-stacked" style="">
                    <li ><a href="#"><h3>书籍名称</h3></a></li>
                    <li><a href="#" style="color:#07C6C6" >章节名称1</a></li>
                    <li><a href="#" style="color:#07C6C6" >章节名称2 </a></li>
                    <li><a href="#" style="color:#07C6C6" >章节名称3</a></li>
                    <li><a href="#" style="color:#07C6C6" >章节名称4</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10">
			     <h2 style="color:#07C6C6">章节名称 </h2>
			     <p style="color:#07C6C6">
				章节具体内容Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </div>
        </div>
    </div>
</nav>
<!--网站中间内容结束-->


<!--底部导航-->
<div class="footer-div">
<footer class="modal-footer">
    <div class="container opacity-almost copyright">
        <div class="row">
            <div class="col-md-4">
                <div class="caption">
                    <h3>关于网站</h3>
                    <p><a href="/other/about">服务条款</a></p>
                    <p><a href="/other/about">帮助中心</a></p>
                    <p><a href="/other/about">免责声明</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="caption">
                    <h3>联系合作</h3>
                    <p><a href="/other/contact">加入团队</a></p>
                    <p><a href="/other/contact">建议反馈</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="caption">
                    <h3>关注我们</h3>
                    <p><a href="/other/follow">Github</a></p>
                    <p><a href="/other/follow">博客论坛</a></p>
                    <p><a href="/other/followe">Twitter</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Copyright © 2017</p>
                <p><a href="http://www.taotaolinux.com" name="bottom">www.taotaolinux.com</a>. All rights reserved.</p>
            </div>
        </div>
    </div>

</footer>
</div>