{% load staticfiles %}
<!--底部导航-->
{% block video_footer %}
<div class="footer-div">
<footer class="modal-footer">
    <div class="container opacity-almost copyright">
        <div class="row">
            <div class="col-md-4">
                <div class="caption">
                    <h3>关于网站</h3>
                    <p><a href="/other/about">服务条款</a></p>
                    <p><a href="/other/about">帮助中心</a></p>
                    <p><a href="/other/about">免责声明</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="caption">
                    <h3>联系合作</h3>
                    <p><a href="/other">加入团队</a></p>
                    <p><a href="/other/contact">建议反馈</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="caption">
                    <h3>关注我们</h3>
                    <p><a href={{ github_site }}>Github</a></p>
                    <p><a href={{ blog_site }}>博客论坛</a></p>
                    <p><a href="/other/followe">Twitter</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Copyright © 2017</p>
                <p><a href="http://www.taotaolinux.com" name="bottom">www.taotaolinux.com</a>. All rights reserved.</p>
            </div>
        </div>
    </div>

</footer>
</div>
{% endblock %}