{% load staticfiles %}
{% block ad_content %}
<div class="container-fluid" >
	<div class="row-fluid" >
         <div class="span12">
			<div class="carousel slide" id="carousel-572271">
				<ol class="carousel-indicators" >
					<li data-slide-to="0" data-target="#carousel-572271">
					</li>
					<li data-slide-to="1" data-target="#carousel-572271" class="active">
					</li>
					<li data-slide-to="2" data-target="#carousel-572271">
					</li>
				</ol>
				<div class="carousel-inner" >
                    {% for ad in Ad_list0 %}
					<div class="item">
						<p style="text-align:center "><a href="{{ ad.callback_url }}" ><img alt="" style="width: 100%;" class="img-responsive" src="/uploads/{{  ad.image_url }}"/></a></p>
					</div>
                    {% endfor %}
                 {% for ad in Ad_list1 %}
					<div class="item active">
						<p style="text-align:center "><a href="{{ ad.callback_url }}"><img alt="" style="width: 100%;" class="img-responsive" src="/uploads/{{  ad.image_url }}" /></a></p>
					</div>
                {% endfor %}
                 {% for ad in Ad_list2 %}
					<div class="item">
						<p style="text-align:center "><a href="{{ ad.callback_url }}"><img alt=""  style="width: 100%;" class="img-responsive" src="/uploads/{{  ad.image_url }}"/></a></p>
					</div>
                {% endfor %}
				</div>
				<a data-slide="prev" href="#carousel-572271" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
				<a data-slide="next" href="#carousel-572271" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
         </div>
	</div>
</div>
{% endblock %}