{% load staticfiles %}
{% block video_content %}
    <h3>推荐教程1</h3>
<!--<div class="container">-->
			<div class="row">
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x400" src="{% static "imgHome/default (1).jpg" %}" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								 <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static "imgHome/default.jpg" %}"/>
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								 <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static "imgHome/sports.jpg"  %}"/>
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								 <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
                <div class="col-md-3">
					<div class="thumbnail">
						<img  src="{% static "imgHome/sports.jpg" %}" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, metus.
							</p>
							<p>
								 <a class="btn btn-primary" href="#" >Action</a><a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
			</div>
    <!--</div>-->
{% endblock %}