{% load staticfiles %}
{% block video_content %}

<div class="container-fuild">
{#<div class="container">#}
<h3>推荐教程</h3>
			<div class="row">
                {% for video_recommend in video_recommend_list %}
				<div class="col-md-3">
					<div class="thumbnail">
						<img   alt="300x400" src="uploads/{{ video_recommend.Video_img }}" />
						<div class="caption">
							<h3>{{ video_recommend.Video_name }}</h3>
                            <p>{{ video_recommend.Video_desc }}介绍</p>
							<p><a class="btn btn-primary" href="video?video_id={{ video_recommend.id }}" >立刻学习</a></p>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>
</div>
{% endblock %}