{% load staticfiles %}
<meta charset="UTF-8">
<!--依赖-->
<link rel="stylesheet" href="{% static "css/libs/bootstrap.min.css"%}">

{#添加其他js_css文件#}
{% block other_css %}
    {% include 'other_css_js.html' %}
{% endblock %}

<!--顶部导航-->
{% block video_header %}
    {% include 'video_header.html' %}
{% endblock %}

<!--网站中间内容开始-->
{#热门视屏推荐模块#}
{% block ad_content %}
    {% include 'video_ad.html' %}
{% endblock %}
<!--我是分割线-->
{% block video_content %}
    {% include 'video_recommend.html' %}
{% endblock %}
<!--网站中间内容结束-->

<!--底部导航-->
{% block video_footer %}
    {% include 'video_footer.html' %}
{% endblock %}
